* {
  background: pink;
}

body {
  background-color: tan;
}

.image--vid {
  height: 20vh;
  margin: 0 auto;
  align-items: center;
}

div > h4 {
  font-size: 15px;
  color: sienna;
}

.source {
  font-size: 1px;
}

.songwriter {
  font-weight: bold;
}

.container {
  color: aqua;
}

.content {
  width: 10;
}
